.top_cloud {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: 
      translateY(-50%)
      translateX(-50%);
    /*webkitに対応*/
      -webkit-transform: 
        translateY(-50%)
        translateX(-50%);
      -ms-transform: 
        translateY(-50%)
        translateX(-50%);
}